streamlit==1.31.1
beautifulsoup4==4.12.2
requests==2.31.0
python-dotenv==1.0.0
firebase-admin==6.6.0
google-auth-oauthlib==1.0.0
PyPDF2==3.0.1
pdfkit==1.0.0
google-api-python-client==2.108.0
wkhtmltopdf-pack==0.12.6.1
python-magic==0.4.27
bs4==0.0.1
reportlab==4.1.0
google-auth-httplib2==0.1.0
google-auth==2.22.0
google-cloud-firestore
